.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 40px;
  font-family: Helvetica;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.errorMessage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        font-family: Helvetica;
        font-size: 15px;
}

.button {
    width: 100px;
    height: 50px;
    border-radius: solid black 7px;
    font-size: 40x;
    font-family: Helvetica;
}