.homeTitle {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: Helvetica;

}